<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faushine.hfs.core.authmgr.dao.ServiceAuthMapper">
    <resultMap id="ServiceAuthResultMap" type="com.faushine.hfs.core.authmgr.model.ServiceAuth">
        <result column="BUCKET_NAME" property="bucketName"/>
        <result column="TARGET_TOKEN" property="targetToken"/>
        <result column="AUTH_TIME" property="authTime"/>
    </resultMap>
    <insert id="addAuth">
        INSERT INTO SERVICE_AUTH
        (BUCKET_NAME,TARGET_TOKEN,AUTH_TIME)
        VALUES
        (#{auth.bucketName},#{auth.targetToken},#{auth.authTime})
    </insert>

    <delete id="deleteAuth">
        DELETE FROM SERVICE_AUTH
        WHERE BUCKET_NAME=#{bucket} AND TARGET_TOKEN=#{token}
    </delete>

    <delete id="deleteAuthByToken">
        DELETE FROM SERVICE_AUTH
        WHERE TARGET_TOKEN=#{token}
    </delete>

    <delete id="deleteAuthByBucket">
        DELETE FROM SERVICE_AUTH
        WHERE BUCKET_NAME=#{bucket}
    </delete>

    <select id="getAuth" resultMap="ServiceAuthResultMap">
        SELECT * FROM SERVICE_AUTH WHERE
        TARGET_TOKEN=#{token} AND BUCKET_NAME=#{bucket}
    </select>
</mapper>